<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - RebelCms Template</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/app.css">
    <link rel="stylesheet" href="~/css/custom.css">
    <link rel="stylesheet" href="~/css/pages/auth.css">
    <link rel="stylesheet" href="~/css/pages/error.css">
    <link rel="stylesheet" href="~/vendors/iconly/bold.css">
    <link rel="stylesheet" href="~/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/vendors/sweetalert2/sweetalert2.css">
    <script src="~/vendors/fontawesome/all.min.js"></script>
    <script src="~/vendors/apexcharts/apexcharts.js"></script>

</head>
<body>

@RenderBody()


<script src="~/vendors/jquery/jquery.min.js"></script>
<script src="~/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="~/vendors/sweetalert2/sweetalert2.js"></script>

<script src="~/js/bootstrap.bundle.min.js"></script>
<script src="~/js/global.js"></script>
<script src="~/js/mazer.js"></script>
</body>
</html>